.layout-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12px;

    .form-card {
        width: 420px;
        padding: 24px;
        border: 1px solid #CCC;
        border-radius: 16px;
        margin-bottom: 32px;

        .text-link {
            font-size: 12px;
            font-weight: 600;
            text-decoration: underline;
            color: #bb08e7;
            text-shadow: #d1bdd6;
            text-align: center;

            &:hover{
                cursor: pointer;
            }
        }
    }
}